@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
.loading-bar {
height: 16px;
width: 0;
background: #FAFBFB;
animation: loading 1s infinite;
}


@layer utilities{
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


html {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* For Edge */
::-ms-scrollbar {
  display: none; /* Hides the scrollbar */
}

  